@use 'sass:color';

$dark: #555;
$light: #ddd;
$cancelRed: color.adjust(red, $lightness: -30%);
$darkGreen: color.adjust(#013220, $lightness: 5%);
$mainPurple: #b6a8b5;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#notAvailable {
    visibility: 0;
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: $mainPurple;
    color: $dark;
    text-align: center;

    p {
        width: 80%;
        border-radius: 5%;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px $dark;
        background-color: $light;
    }
}

.interactive {
    cursor: pointer;
}

.iconBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
}

#mainDiv {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 4vmax auto;
    grid-template-rows: 4vmax auto;
    background-color: $light;
    padding: 0px;
    margin: 0;
}

#logo {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #999;
    z-index: 3;
}

#header {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: $dark;
    filter: drop-shadow(0 0 20px $dark);
    z-index: 2;
}

#sidebar {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    filter: drop-shadow(0 0 10px $dark);

    #sideButtons {
        height: 100%;
        width: 100%;
    }

    .addBtn {
        font-size: 0.6vmax;
        text-shadow: 0.1vmax 0.1vmax 0.05vmax $mainPurple;
        width: 100%;
        height: 10%;
        background-color: $light;
        color: #555;
        text-align: center;
        margin: auto;
        padding: 0px;
        border: none;
        border-radius: 0px;

        &:hover {
            background-color: $dark;
            color: #ddd;
        }
    }
}

#playSpace {
    z-index: 1;
    position: relative;
    background-color: $mainPurple;
    background-image: url('/media/bedge-grunge.png');
    width: 100%;

    #patchExit {
        position: absolute;
        right: 3%;
        top: 3%;
        font-size: 6vh;
        color: $light;

        &:hover {
            color: $cancelRed;
        }
    }

    .pingBox {
        width: 30vmax;
        height: 15vmax;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $dark;
        z-index: 200;
        display: flex;
        flex-direction: column;
        filter: drop-shadow(0 0 10px $dark);

        #pingTextDiv {
            width: 100%;
            height: 25%;
            margin-top: 0px;
            background: rgb(150, 91, 91);
            text-align: center;
            text-decoration-color: $cancelRed;

            .error {
                color: $light;
            }
        }
        #pingText {
            margin: auto;
            color: $light;
            font-size: 120%;
            font-style: oblique;
            width: 80%;
            text-align: center;
        }

        .fa-times-circle {
            position: absolute;
            right: -1vmax;
            top: -1.2vmax;
            font-size: 2vmax;
            color: $light;
            transition:
                transform 0.6s,
                filter 0.6s,
                color 0.6s;
            cursor: pointer;
            &:hover {
                color: $cancelRed;
                transform: rotate(180deg);
                filter: drop-shadow(0 0 2px $dark);
            }
        }
    }

    .dragDiv {
        position: absolute;
        width: 12.5vw;
        height: 10.5vh;
    }

    .moduleDiv {
        position: absolute;
        top: 2vh;
        left: 2vh;
        background-color: $light;
        filter: drop-shadow(0 0 10px $dark);
        text-align: center;
        min-width: 150px;
        border-radius: 2px;
        padding-bottom: 5%;

        &:hover {
            .cordOuter.show {
                visibility: visible;
                opacity: 1;
            }
            .cordOuter.hide {
                visibility: none;
                opacity: 0;
            }
            #firstParam {
                opacity: 1;
            }
        }

        .iconBtn {
            position: absolute;
            top: 0;
            left: 0;
        }

        .fa-times {
            color: $light;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 12px;
            height: 12px;
            top: -8px;
            left: -4px;
            transition:
                filter 0.6s,
                visibility 0.45s,
                opacity 0.45s,
                color 0.6s;
            cursor: pointer;
            &:hover {
                filter: drop-shadow(0 0 2px $dark);
                color: $cancelRed;
            }
        }
        p {
            border-radius: 2px 2px 0px 0px;
            width: 100%;
            height: 30%;
            background-color: $dark;
            color: $light;
            margin: 0px;
            margin-bottom: 5%;
            padding-top: 4%;
            padding-bottom: 4%;
            cursor: move;
            transition:
                background-color 0.3s,
                color 0.3s;
            &:hover {
                background-color: color.adjust($dark, $lightness: 10%);
                color: color.adjust($light, $lightness: 10%);
            }
            &:hover {
                .fa-times {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        #fillingDiv {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: 60%;
            }

            button {
                width: 20%;
                height: 20%;
            }
        }
    }

    #firstParam {
        position: absolute;
        top: -1vh;
        right: 25%;
        background-color: $darkGreen;

        .cordInner {
            background-color: $dark;
        }
    }

    #inputOuter {
        top: -1vh;
        right: 75%;
    }

    #outputOuter {
        bottom: -1vh;
        right: 50%;

        .cordInner {
            background-color: $light;
        }
    }
}

//------------------------------SELECTOR DIV---------------------------------

.selectorDiv {
    width: 40%;
    color: $light;
    background: $dark;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;

    span {
        display: block;
        padding: 3px;
    }

    #selectorContent {
        width: 100%;
        display: none;
        position: absolute;
    }

    .selectorVal {
        display: block;
        background: $dark;
        padding: 3px;

        &:hover {
            background: color.adjust($dark, $lightness: 10%);
            cursor: pointer;
        }
    }

    &:hover {
        border-radius: 3px 3px 0px 0px;
        span {
            color: $mainPurple;
        }
        #selectorContent {
            display: block;
        }
    }
}

// ------------------------------------- OSCILLATOR DIV --------------------------------
.oscDiv {
    #oscBoxOne {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    #waveSelector {
        z-index: 100;
    }

    #rangeNum {
        background: color.adjust($dark, $lightness: 10%);
        color: $light;
        width: 29%;
        position: relative;
        left: 35%;
        border-radius: 3px;
        margin-bottom: 5%;
    }

    #freqNumInput {
        width: 29%;
        position: relative;
        border-radius: 3px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: $dark;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $dark;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);
    }

    .slider.round {
        border-radius: 34px;
        z-index: 100;

        &:before {
            border-radius: 50%;
        }
    }
}

//---------------------------------------- GAIN MOD --------------------------------------------

#gainRangeInput {
    margin-top: 3.5%;
}

#gainNumInput {
    width: 33%;
}

//---------------------------------------- FILTER MOD -------------------------------------------

#filterBoxOne {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#filterSelector {
    z-index: 1000;
}

//---------------------------------------- ADSR MOD -------------------------------------------

#ADSRDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ADSRSliderlogSliderWhole {
    margin-top: 13px;
}

#ADSRBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0px;
}

#ADSRControls {
    width: 75%;
    height: 30%;
    display: grid;
    grid: 50% 50% / 50% 50%;

    label {
        input {
            width: 75%;
        }
    }
}

//---------------------------------------- DELAY MOD -------------------------------------------

#delayDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

//---------------------------------------- DISTORTION MOD -------------------------------------------

#distortionCurveDiv {
    margin-bottom: 5px;
    margin-top: 15px;
}

#distortionSelector {
    z-index: 6;
    margin-bottom: 10px;
}

//---------------------------------------- REVERB MOD -------------------------------------------

#reverbSelector {
    z-index: 6;
    margin: 5px 0px;
}

//---------------------------------------- RECORD MOD -------------------------------------------

#RecorderDiv {
    #recorderButtons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5px;
    }

    a {
        color: $light;
        &:link {
            color: $dark;
        }
        margin-bottom: 3px;
    }
}

//---------------------------------------- OUTPUT MODULE ----------------------------------------

#outputDiv {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 86.4px;
    height: 172.8px;
    background-color: $light;
    filter: drop-shadow(0 0 10px $dark);
    text-align: center;
    border-radius: 3px;

    p {
        border-radius: 2px 2px 0px 0px;
        width: 100%;
        height: 20%;
        line-height: 180%;
        background-color: $dark;
        color: $light;
        margin: 0px;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .cordOuter {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
        visibility: 1;
        opacity: 1;
        background-color: color.adjust($dark, $lightness: 20%);
        width: 14px;
        height: 14px;
    }

    .cordInner {
        background-color: $light;
    }

    #outputCenter {
        height: 80%;
        width: 100%;
        position: relative;

        input[type='range'] {
            position: relative;
            transform: rotate(270deg);
            top: 30%;
            right: 2.5%;
            width: 100%;
            height: 5%;
        }
        input[type='range']::-webkit-slider-runnable-track {
            width: 100%;
            height: 100%;
        }
        input[type='range']::-webkit-slider-thumb {
            border: 2px solid color.adjust($dark, $lightness: 10%);
            border-radius: 50%;
            margin-top: -4.5%;
            height: 12px;
            width: 12px;
        }
        input[type='range']::-moz-range-track {
            width: 100%;
            height: 100%;
        }
        input[type='range']::-moz-range-thumb {
            margin-top: -6%;
            height: 10px;
            width: 10px;
        }
    }
}

//---------------------------------------- CORD DOCKS ----------------------------------------

.cordOuter {
    visibility: 0;
    opacity: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: color.adjust($dark, $lightness: 20%);
    border-radius: 50%;
    transition:
        transform 0.6s,
        filter 0.3s,
        visibility 0.3s,
        opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    transform: translate(50%);

    &:hover {
        filter: drop-shadow(0 0 5px $dark);
    }

    .cordInner {
        width: 65%;
        height: 65%;
        border-radius: 50%;
        padding: 0px;
        margin: 0px;
        background-color: $dark;
    }
}

#returnSpace {
    height: 100%;
    width: 100%;
}

//---------------------------------------- SVG ----------------------------------------

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    stroke-linecap: round;

    line {
        position: absolute;
        stroke: $dark;
        stroke-width: 3;
        pointer-events: all;

        &:hover {
            stroke: $cancelRed;
        }
    }
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.raise {
    filter: drop-shadow(0 0 5px $light);
}

//----------------------------------------NUMBER INPUT----------------------------------------

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

/* Firefox */
input[type='text'] {
    -moz-appearance: textfield;
    text-align: center;
    background: $light;
    color: $dark;
    width: 29%;
    border-radius: 3px;
}

input,
input:focus {
    border: 0;
    outline: none;
}

input:focus {
    background: $dark;
    color: $light;
}

//------------------------------------------------TOOLTIP----------------------------------------

#ttWrapper {
    width: 0;
    height: 0;
    position: relative;
}
.tooltiptext {
    visibility: hidden;
    width: 60px;
    font-size: 12px;
    background-color: color.adjust($dark, $lightness: 10%);
    color: $light;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    display: block;
    z-index: 100;

    /* Position the tooltip */
    position: absolute;
    bottom: 125%;
    z-index: 1;

    .paramSpan {
        color: white;
        text-decoration: underline;
    }
}
//osc
#oscFreqTip {
    transform: translate(55px, -80px);
}

#oscModGainSpan {
    transform: translate(50px, 5px);
}

#oscFreqlogSliderFreqTip {
    left: 47px;
    transform: translateY(5px);
}

#oscDetuneParamTip {
    transform: translate(-29px, -10px);
}

//gain

#gainGainParamTip {
    transform: translate(-30px, -3px);
}

//filter

#Qdialtip {
    transform: translate(-11px, -3px);
}

#filterGainSpan {
    transform: translate(51px, 5px);
}

#filterFreqlogSliderFreqTip {
    transform: translate(51px, 5px);
}

//pan

#panPanSpan {
    transform: translate(51px, 5px);
}

//ADSR

#ADSRSliderlogSliderFreqTip {
    transform: translate(55px, 5px);
}

#ADSRCheckTip {
    transform: translate(-4px, -3px);
}

//Delay

#delayDelayTimeSpan {
    transform: translate(51px, 5px);
}

//Distortion
#distortionCurveSpan {
    transform: translate(51px, 5px);
}

//AudioInput

#audioInGainSpan {
    transform: translate(50px, 5px);
}

.tooltip {
    position: relative;
    &:hover {
        .tooltiptext {
            display: block;
            z-index: 2000;
            visibility: visible;
        }
    }
}

.tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: color.adjust($dark, $lightness: 10%) transparent transparent transparent;
}

// ---------------------------------RANGE INPUTS ------------------------------
input[type='range'] {
    -webkit-appearance: none;
    position: relative;
    border-radius: 6.5px;
    width: 80%;
}
input[type='range']:focus {
    outline: none;
    border-radius: 10px;
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    cursor: pointer;
    background: $dark;
    border-radius: 3px;
    border: 0.2px solid color.adjust($dark, $lightness: 10%);
}
input[type='range']::-webkit-slider-thumb {
    border: 2px solid color.adjust($dark, $lightness: 10%);
    border-radius: 50%;
    background: $light;
    cursor: pointer;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
    background: $dark;
    border-radius: 3px;
}
input[type='range']::-moz-range-track {
    cursor: pointer;
    background: $dark;
    height: 100%;
    border-radius: 3px;
    border: 0.2px solid color.adjust($dark, $lightness: 10%);
}
input[type='range']::-moz-range-thumb {
    border: 2px solid color.adjust($dark, $lightness: 10%);
    border-radius: 50%;
    background: $light;
    cursor: pointer;
    margin-top: -6%;
}

//------------------------------------------ CHECKBOX SLIDER --------------------------------------

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: $dark;
}

input:focus + .slider {
    box-shadow: 0 0 1px $dark;
}

input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

.slider.round {
    border-radius: 34px;
    z-index: 100;

    &:before {
        border-radius: 50%;
    }
}

//------------------------------------------ DIAL --------------------------------------
.dialWhole {
    height: 60px;
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input[type='range'] {
        width: 40px;
        height: 40px;
        position: relative;
    }

    #dialKnob {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        filter: drop-shadow(3px 3px 3px #555);
        position: relative;

        .dialRange {
            opacity: 0;
            z-index: 6;
        }

        #dialEmpty {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            position: absolute;
            left: 9px;
            top: 0px;
        }
    }

    #dialNumInput {
        height: 30%;
        width: 45px;
    }
}

//------------------------------------ BUTTON ---------------------------
button {
    background-color: $dark;
    width: 40%;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
    color: $light;
    outline: none;
    border: none;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;

    &:active {
        background-color: color.adjust($dark, $lightness: -10%);
    }
}

@media only screen and (max-device-width: 480px) {
    #App {
        visibility: 0;
        opacity: 0;
    }

    #notAvailable {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-device-width: 800px) {
    #App {
        visibility: 0;
        opacity: 0;
    }

    #notAvailable {
        visibility: visible;
        opacity: 1;
    }
}
